/target/
data
/.idea
/*.iml
/.settings/
/.classpath
/.project
/dependency-reduced-pom.xml
/bin/
/doc/
/config/
/log/
*.json
*.geojson
*.csv
application/src/main/resources/data/
*.iml
*.DS_Store
python/analysis/__pycache__/
